@import '//fonts.googleapis.com/css?family=Roboto:700,400';

:root {
  font-family: 'Roboto', -apple-system, Segoe UI, sans-serif;
  font-feature-settings: "kern" 1, "lnum" 1, "pnum" 1;
  font-size: 62.5%;
}

body {
  text-align: justify;
  font-size: 1.6rem;
  line-height: 1.88;
  transition: font-size 0.3s ease;
  @media (--medium-screen-upper) {
    font-size: 2rem;
  }
  @media (--large-screen-upper) {
    font-size: 2.4rem;
  }
}
